.val-mid-nav:hover{
  background-color: aqua;
  transition: 0.3s all ease;
  cursor: pointer;
}

.title-word {
  animation: color-animation 4s linear infinite;
  
}

.title-word-1 {
  --color-1: #dddf53;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
  --color-4: #fc2e2a;
}

.title-word-2 {
  --color-1: #e02421;
  --color-2: #34c6da;
  --color-3: #38d13f;
  --color-4: #ACCFCB;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #a834a2;
  --color-3: #ACCFCB;
  --color-4: #d1d40b;
}

.title-word-4 {
  --color-2: #64b81f;
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-4: #e94e4b;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-2)}
  33%   {color: var(--color-4)}
  65%   {color: var(--color-3)}
  66%   {color: var(--color-1)}
  99%   {color: var(--color-4)}
  100%  {color: var(--color-2)}
}

.display-date {
  color: #ffd868;;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.display-time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid #ffd868;
  color: #ffd868;;
  border-radius: 5px;
  transition: ease-in-out 0.1s;
  transition-property: background, box-shadow, color;
  -webkit-box-reflect: below 2px
    linear-gradient(transparent, rgba(255, 255, 255, 0.171));
}

.display-time:hover {
  background: #ffd868;
  box-shadow: 0 0 30px#ffd868;
  color: #ffffff;
  cursor: pointer;
}

.bg-1{
  background-image: url('img/pexels-lucas-pezeta-3517794.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:bottom;
}
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #571515 10%,
      #b4280f 59%,
      #5eff13 67%,
      #00ff2a 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-size: 30px;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}